body {
	display: flex;
	background-color: #6799fc;
	color: #000000;
	min-width: 80vw;
	min-height: 80vh;
	margin-top: 5vh;
	margin-right: 1vw;
	margin-bottom: 5vh;
	margin-left: 1vw;
	align-items: center;
	justify-content: center;

}

body p {
	font-size: 24px;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 32px;
}

#mainContent {
	background-color: #d1e3ff;
	padding: 2vw;
	width: 80vw;
	min-height: 80vh;
	margin: auto;
	border-radius: 30px;
	border: 2px solid #000000;
}

.contentSection {
	margin-top: 2vh;
	margin-bottom: 2vh;
	background-color: #6799fc;
	border: 2px solid #000000;
	padding: 2vw;
	border-radius: 30px;
}

#nameAndPortrait {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 200px;
}

#portrait {
	width: 20vw;
	border-radius: 100%;
	border: 10px double #ffffff;
}

#navBar {
	margin-top: 0;
	display: flex;
	font-size: 24px;
	position: center;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

#aboutMeWithArrow,
#videoDescriptionWithArrow {
	display: flex;
	align-items: center;
	gap: 10px;
}

#aboutMeParagraph,
#videoDescription {
	background-color: #2e54a0;
	display: none;
	border-radius: 30px;
	color: #ffffff;
}

.arrow {
	width: 15px;
}

.buttonWrapper {
	background: none;
	border: none;
	cursor: pointer;
}

#socialMediaIcons {
	display: flex;
	gap: 20px;
}

#socialMediaIcons img {
	width: 100px;
	border: 2px solid #000000;
	border-radius: 100%;
	;
}

#programmingLanguages {
	display: flex;
	gap: 30px;
}

.languagesIcon {
	width: 100px;
	border-radius: 20px;
}

#javaIcon {
	background-color: #ffffff;
}

#rustIcon {
	width: 150px;
}

#videoContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

#projectVideo {
	width: 90%;
	border: 2px solid #000000;
}

/* <img src="assets/c-icon.png" alt="C icon" id="cIcon"> */
/* <img src="assets/python-icon.png" alt="Python icon" id="pythonIcon"> */
/* <img src="assets/java-icon.png" alt="Java icon"> */
/* <img src="assets/javascript-icon.png" alt="JavaScript icon"> */
/* <img src="assets/rust-icon.png" alt="Rust icon" id="rustIcon"> */
/* <img src="assets/lua-icon.png" alt="Lua icon"> */
/* <img src="assets/bash-icon.png" alt="Bash icon" id="bashIcon"> */
